.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    .welcome {
        font-size: 5em;
    }

    .link {
        font-size: 1em;
    }
}